#HeaderSwiperSlide {
  height: 100vh;
  position: relative;
  width: 100%;

  p {
    font-family: Barlow, sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    letter-spacing: 6px;
    z-index: 4;
  }
  h1 {
    font-family: Poppins, sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 900px;
    z-index: 4;
    animation-duration: 2s;
  }

  .overlay {
    background-color: rgba(92, 90, 90, 0.221);
  }
}
