.userTransaction {
  h2,
  h3 {
    color: rgb(15, 36, 84);
    font-family: Poppins, sans-serif;
  }
  span {
    color: rgb(32, 149, 174);
  }

  .separator {
    width: 100% !important;
    height: 1px !important;
  }
  button {
    background-color: rgb(32, 149, 174);
    color: white !important;
    border-radius: 5px;
    transition: 0.5s;
  }
  button:hover {
    background-color: rgb(15, 36, 84);
  }
}
