#payment {
  .separator {
    background-color: rgb(128, 127, 127);
    height: 1px;
  }
  .bookedTourImage {
    width: 130px;
    height: 130px;
  }
  h3,
  h5 {
    color: rgb(15, 36, 84);
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }
}
