#dashboardNav {
  [dir="rtl"] &{
    right: 0;
  }
  .active {
    background-color: #fff;
    color: black !important;
    border-radius: 5px;
  }
  .Icon {
    color: white;
    cursor: pointer;
    z-index: 10;
  }
}
