#location {
	.locIcon {
		color: rgb(32, 149, 174);
		font-size: 16px;
	}
	a {
		color: rgb(103, 105, 119);
		font-family: Barlow, sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		text-decoration: none;
	}
}
