#navMenu {
  top: 0;
  z-index: 9999;
  left: 0;
  [dir="rtl"] & {
    left: auto !important;
    right: 0 !important;
  }
  button {
    color: rgb(32, 149, 174) !important;
    right: 0;
  }
  .Icon {
    color: rgb(32, 149, 174);
    cursor: pointer;
    z-index: 10;
  }
  a {
    color: rgb(75, 78, 79) !important;
    text-decoration: none !important;
  }
  p,
  .planeIcon,
  .active {
    color: rgb(32, 149, 174) !important;
  }
}
