#Header {
  height: 70vh;
  background-image: url(../../assets/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  p {
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: white;
    z-index: 4;
    letter-spacing: 6px;
  }
  h1 {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 900px;
    z-index: 4;
    span {
      color: rgb(32, 149, 174);
    }
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.247);
  }
  @media screen and (max-width: 768px) {
    h1 {
      width: fit-content;
      font-size: 30px;
    }
  }
}
