#Testominals {
  padding: 1rem 0;
  background-image: url(../../assets/images/bg.jpg);
  background-attachment: fixed;
  .overlay {
    background-color: rgba(0, 0, 0, 0.301);
  }
  h4 {
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 600;
  }
  a,
  h6 {
    font-family: Barlow, sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  h6 {
    font-size: 18px;
  }
  .reviewDiv {
    padding: 3rem 2rem;
    transform: translateY(60px);
    p {
      color: rgb(32, 149, 174);
      font-family: Barlow, sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }
    h3 {
      color: rgb(15, 36, 84);
      font-family: Poppins, sans-serif;
      font-size: 30px;
      font-weight: 700;
    }
  }
  .pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(32, 148, 174, 0.285);
    opacity: 0.8;
  }
  .swiper-pagination-bullet:hover {
    background: rgb(32, 149, 174);
    border: none;
  }
  .swiper-pagination-bullet-active {
    background: rgb(32, 149, 174);
    border: none;
  }

  @media screen and (max-width: 767px) {
    .reviewDiv {
      transform: translateY(0);
    }
  }
}
