#TesominalSlide {
	.revSlide {
		p {
			color: rgb(103, 105, 119);
			font-family: Barlow, sans-serif;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
		}
		h5 {
			color: rgb(15, 36, 84);
			font-family: Barlow, sans-serif;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
