#editForm {
  button {
    background-color: rgb(32, 149, 174);
    font-family: Barlow, sans-serif;
    color: white;
    border: none;
    transition: 0.5s;
  }
  button:hover {
    background-color: #0f2454;
  }
}
