#forgetPassword {
  padding: 2rem 0;
  h1 {
    color: rgb(32, 149, 174);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .forgetPasswordForm {
    padding: 3rem 0;
    border-radius: 30px;
    p {
      font-size: 16px;
      font-family: "Barlow", sans-serif;
    }
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 30px;
    }
    .button {
      font-size: 14px;
    }
  }
}
